<div class="container">
  <div class="form">
    <h2 class="title" style="border: none">Stock list</h2>
    <% if @stock.count > 0 %>
    <table class="table">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Unit Price</th>
        <th>Interest</th>
        <th>Duration</th>
        <th>User</th>
        <th></th>
        <th></th>
      </tr>

      <% @stock.each do |stock| %>
        <tr>
          <td><%= stock.id %></td>
          <td><%= stock.name %></td>
          <td><%= stock.unit_price %></td>
          <td><%= stock.interest.to_i %></td>
          <td><%= stock.duration_in_years.to_i %></td>
          <td><%= stock.user.name %></td>
          <td><%= link_to 'Show', stock_path(stock) %></td>
          <td><%= link_to 'Destroy', stock_path(stock),
                          method: :delete,
                          data: {confirm: 'Are you sure?'} %></td>
        </tr>
      <% end %>
    </table>
    <% else %>
      <p>No stock yet created</p>
    <% end %>
  </div>
</div>